In [1]:
import pandas as pd

# First data set

In [2]:
first_data_set = pd.read_csv('capacity.csv')

In [3]:
print(first_data_set.head(7))

    type  year  standalone_prior  hybrid_prior  standalone_new  hybrid_new  \
0  Solar  2014         25.052420      0.000000       19.511700    0.000000
1  Solar  2015         33.055120      0.000000       23.763492    0.000000
2  Solar  2016         36.977478      0.000000       83.332539    0.000000
3  Solar  2017         83.578314      0.000000      104.931034    0.000000
4  Solar  2018        138.198438     11.556250      115.544645   17.666710
5  Solar  2019        155.783796     43.000118      109.784725   58.583096
6  Solar  2020        195.560800     95.964300      107.615327   63.304300

     total_gw
0   44.564120
1   56.818612
2  120.310017
3  188.509348
4  282.966042
5  367.151735
6  462.444727

In [4]:
numerical_columns = first_data_set.select_dtypes(include=['number'])

In [5]:
numerical_data = numerical_columns.to_numpy()

In [6]:
numerical_array = numerical_data

In [7]:
print(numerical_array)

[[2.01400000e+03 2.50524200e+01 0.00000000e+00 1.95117000e+01
  0.00000000e+00 4.45641200e+01]
 [2.01500000e+03 3.30551200e+01 0.00000000e+00 2.37634920e+01
  0.00000000e+00 5.68186120e+01]
 [2.01600000e+03 3.69774780e+01 0.00000000e+00 8.33325392e+01
  0.00000000e+00 1.20310017e+02]
 [2.01700000e+03 8.35783140e+01 0.00000000e+00 1.04931034e+02
  0.00000000e+00 1.88509348e+02]
 [2.01800000e+03 1.38198438e+02 1.15562500e+01 1.15544645e+02
  1.76667100e+01 2.82966042e+02]
 [2.01900000e+03 1.55783796e+02 4.30001180e+01 1.09784725e+02
  5.85830964e+01 3.67151735e+02]
 [2.02000000e+03 1.95560800e+02 9.59643000e+01 1.07615327e+02
  6.33043000e+01 4.62444727e+02]
 [2.01400000e+03 6.66734500e+01 0.00000000e+00 2.92024500e+01
  0.00000000e+00 9.58759000e+01]
 [2.01500000e+03 6.50272850e+01 0.00000000e+00 4.45625600e+01
  0.00000000e+00 1.09589845e+02]
 [2.01600000e+03 7.47512900e+01 0.00000000e+00 6.69241600e+01
  0.00000000e+00 1.41675450e+02]
 [2.01700000e+03 9.87261700e+01 0.00000000e+00 8.14483150e+01
  0.00000000e+00 1.80174485e+02]
 [2.01800000e+03 1.38143055e+02 2.18999000e+00 9.10017449e+01
  8.28400012e-01 2.32163190e+02]
 [2.01900000e+03 1.58948814e+02 2.37050000e+00 5.56400100e+01
  8.54290000e+00 2.25502224e+02]
 [2.02000000e+03 1.51414500e+02 2.95200000e+00 4.44953000e+01
  1.02770000e+01 2.09138800e+02]
 [2.01400000e+03 0.00000000e+00            nan 0.00000000e+00
             nan 0.00000000e+00]
 [2.01500000e+03 1.76074000e+00            nan 5.54240000e+00
             nan 7.30314000e+00]
 [2.01600000e+03 5.10035000e+00            nan 6.63781500e+00
             nan 1.17381650e+01]
 [2.01700000e+03 1.00559300e+01            nan 8.82642500e+00
             nan 1.88823550e+01]
 [2.01800000e+03 9.41003000e+00            nan 1.96233943e+01
             nan 2.90334243e+01]
 [2.01900000e+03 1.80669530e+01            nan 3.73363660e+01
             nan 5.54033190e+01]
 [2.02000000e+03 4.17393500e+01 6.71318800e+01 5.09970000e+01
  4.45985100e+01 2.04466740e+02]
 [2.01400000e+03 7.99663800e+01 0.00000000e+00 6.51747000e+01
  0.00000000e+00 1.45141080e+02]
 [2.01500000e+03 1.05119612e+02 0.00000000e+00 5.82296660e+01
  0.00000000e+00 1.63349278e+02]
 [2.01600000e+03 9.36193820e+01 0.00000000e+00 3.97563190e+01
  0.00000000e+00 1.33375701e+02]
 [2.01700000e+03 7.47701080e+01 0.00000000e+00 3.61003600e+01
  0.00000000e+00 1.10870468e+02]
 [2.01800000e+03 5.82473270e+01 1.05800000e-01 2.74209400e+01
  2.38450000e-01 8.60125170e+01]
 [2.01900000e+03 4.82793040e+01 3.48800000e-01 2.84470300e+01
  1.31500000e-01 7.72066340e+01]
 [2.02000000e+03 4.80379000e+01 1.22100000e+00 2.17908000e+01
  2.97200000e+00 7.40217000e+01]
 [2.01400000e+03 5.75800000e+00            nan 4.20500000e+00
             nan 9.96300000e+00]
 [2.01500000e+03 9.55400000e+00            nan 0.00000000e+00
             nan 9.55400000e+00]
 [2.01600000e+03 1.40800000e+00            nan 9.52200000e-01
             nan 2.36020000e+00]
 [2.01700000e+03 7.44200000e-01            nan 8.06000000e-02
             nan 8.24800000e-01]
 [2.01800000e+03 5.84800000e-01            nan 6.45100000e-01
             nan 1.22990000e+00]
 [2.01900000e+03 3.28350000e+00            nan 5.00000000e-02
             nan 3.33350000e+00]
 [2.02000000e+03 3.28230000e+00 0.00000000e+00 1.00000000e-01
  0.00000000e+00 3.38230000e+00]
 [2.01400000e+03 1.78300000e+00            nan 1.83680000e+00
             nan 3.61980000e+00]
 [2.01500000e+03 3.16900000e+00            nan 4.92000000e-01
             nan 3.66100000e+00]
 [2.01600000e+03 8.45000000e-01            nan 3.00000000e-02
             nan 8.75000000e-01]
 [2.01700000e+03 1.79000000e-01            nan 1.40000000e-02
             nan 1.93000000e-01]
 [2.01800000e+03 8.30000000e-02            nan 7.36000000e-01
             nan 8.19000000e-01]
 [2.01900000e+03 3.90000000e-02            nan 1.10000000e-02
             nan 5.00000000e-02]
 [2.02000000e+03 1.30700000e-01 0.00000000e+00 0.00000000e+00
  0.00000000e+00 1.30700000e-01]
 [2.01400000e+03 1.83490900e+01            nan 7.05730000e+00
             nan 2.54063900e+01]
 [2.01500000e+03 9.36488600e+00            nan 3.79696700e+00
             nan 1.31618530e+01]
 [2.01600000e+03 6.03314000e+00            nan 4.43909000e+00
             nan 1.04722300e+01]
 [2.01700000e+03 3.98900000e+00            nan 2.24446000e+00
             nan 6.23346000e+00]
 [2.01800000e+03 3.62198400e+00            nan 2.96745100e+00
             nan 6.58943500e+00]
 [2.01900000e+03 4.10227900e+00            nan 5.45401000e-01
             nan 4.64768000e+00]
 [2.02000000e+03 5.41296000e+00 6.72000000e-02 8.03300000e-01
  1.62922900e+00 7.91268900e+00]]

This is not a very good format at all its very messy and hard to read because there is no differentiation between the numbers.

# Second Data set

In [8]:
Second_data_set = pd.read_csv('games.csv')

In [9]:
print(Second_data_set.tail(8))

                               gamename  year month     avg  gain  peak  \
83623                            Caster  2012  July    1.10   NaN     6
83624        F.E.A.R. 2: Project Origin  2012  July  121.24   NaN   229
83625                        Hard Reset  2012  July   71.16   NaN   147
83626  Medal of Honor(TM) Single Player  2012  July   19.34   NaN    47
83627                     Mount & Blade  2012  July  248.73   NaN   610
83628            Arma: Cold War Assault  2012  July    6.76   NaN    15
83629                    Alpha Protocol  2012  July   26.94   NaN    52
83630                           Far Cry  2012  July   59.01   NaN   191

      avg_peak_perc
83623      18.3333%
83624      52.9432%
83625      48.4082%
83626      41.1489%
83627      40.7754%
83628      45.0667%
83629      51.8077%
83630      30.8953%

In [10]:
print(Second_data_set.dtypes)

gamename          object
year               int64
month             object
avg              float64
gain             float64
peak               int64
avg_peak_perc     object
dtype: object

Yes, the gamename is read as a object along with the avg_peak_perc and month from some research I have discoved that object dtype can store not only strings but also mixed data types.

# Third Data set

In [11]:
Third_data_set = pd.read_csv('American movies.csv')

In [12]:
Data_frame = Third_data_set.loc[5::5, ['title','year']]

In [13]:
print(Data_frame)

                                    title  year
5      Capture of Boer Battery by British  1900
10                       New Morning Bath  1900
15                         Two Old Sparks  1900
20         Another Job for the Undertaker  1901
25                      Beef Extract Room  1901
...                                   ...   ...
36250             Five Nights at Freddy's  2023
36255     Chicken Run: Dawn of the Nugget  2023
36260                     A Family Affair  2023
36265              Leave the World Behind  2023
36270                          Rebel Moon  2023

[7254 rows x 2 columns]

# Exploring data files

In [14]:
df = pd.read_csv('data/german.data')

In [15]:
print(df)

    A11 6 A34 A43 1169 A65 A75 4 A93 A101 4 A121 67 A143 A152 2 A173 1 A192 A201 1
0    A12 48 A32 A43 5951 A61 A73 2 A92 A101 2 A121 ...
1    A14 12 A34 A46 2096 A61 A74 2 A93 A101 3 A121 ...
2    A11 42 A32 A42 7882 A61 A74 2 A93 A103 4 A122 ...
3    A11 24 A33 A40 4870 A61 A73 3 A93 A101 4 A124 ...
4    A14 36 A32 A46 9055 A65 A73 2 A93 A101 4 A124 ...
..                                                 ...
994  A14 12 A32 A42 1736 A61 A74 3 A92 A101 4 A121 ...
995  A11 30 A32 A41 3857 A61 A73 4 A91 A101 4 A122 ...
996  A14 12 A32 A43 804 A61 A75 4 A93 A101 4 A123 3...
997  A11 45 A32 A43 1845 A61 A73 4 A93 A101 4 A124 ...
998  A12 45 A34 A41 4576 A62 A71 3 A93 A101 4 A123 ...

[999 rows x 1 columns]

I beleave the data looks how it should i dont see any issues with the data displayed.

In [18]:
df = pd.read_csv('data/communication.csv', sep="|")

ParserError: Error tokenizing data. C error: Expected 4 fields in line 6, saw 5